.row{
    display: flex;
    flex-direction: row;
    object-fit: contain;
    justify-content: space-around;
    flex: 1;
    max-height: 480px;
    max-width: 480px;
}


.column{
    display: inline-block;
    background-color: white;
    padding: 1px;
    flex: 1;
    
}

#grid{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 50px 10px rgb(206, 206, 206); 
    height: 480px;
    width: 480px;
    max-width: 480px;
    max-height: 480px;
    margin-top: 20px;
    
}

html, body{
    margin: 0%;
    height: 100%;
    width: 100%;
    background-color: white;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

button{
    color: black;
    justify-self: center;
    align-items: center;
    max-width: 100px;
}

#board{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: auto;
   justify-content: center;
}

#buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-left: 10px;
    margin-right: 60px;
    width: auto;
}