.row{
    display: flex;
    flex-direction: row;
    
}

.column{
    display: inline-block;
    background-color: white;
    padding: 15px;
    
}

#grid{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 12px;
    border-color: grey;
    border-style: solid;
    height: fit-content;
    width: fit-content;
    margin-top: 20px;
}

html, body{
    height: 100%;
    background-color: black;
}

.column:hover{
    background-color: black;
}

body{
    display: flex;
    justify-content: space-around;
}

button{
    max-height: 20px;
}