.row{
    display: flex;
    flex-direction: row;
    
}

.column{
    display: inline-block;
    background-color: yellow;
    padding: 12px;
    
}

#grid{
    display: flex;
    flex-direction: column;
    height: 100%;
}

html, body{
    height: 100%;
    background-color: green;
}

.column:hover{
    background-color: black;
}